@tailwind base;
@tailwind components;
@tailwind utilities;

/* WE HAVE TO MANUALLY SET VIEWPORT HEIGHT HERE BECAUSE GOOGLE MAPS API EXPLICITLY REQUIRES IT BE SET */

html, section {
    height: 100%;
}

body {
    position: relative;
}


.container, .searchDropDn {
    margin: 10px;
    padding: 5px;
    width: 50%;
}

#searchBtnBar {
    margin-top: 5px;
}

@media screen and (max-width: 639px) {
    .container, .searchDropDn {
        margin: 5px auto;
        width: 75%;
    }
}