@tailwind base;
@tailwind components;
@tailwind utilities;

/* WE HAVE TO MANUALLY SET VIEWPORT HEIGHT HERE BECAUSE GOOGLE MAPS API EXPLICITLY REQUIRES IT BE SET */

@layer utilities {
    .square {
        aspect-ratio: 1 / 1;
    }
}

html, section {
    height: 100%;
}

body {
    background-image: url("surveillance.png");
}

.backnavcolor, #default-search, .contribs {
    background-color: #2d2a32;
}


@media screen and (max-width: 639px) {
    header, .searchDropDn {
        margin: 5px auto;
        width: 100%;
    }
}